:root {
  --padding-sides: 0 10rem;
  --color-primary: hsl(9, 97%, 70%);
  --marging-vertical: 4rem 0;
}
/* Basic Styles */
html {
  font-size: 62.5%;
}

body {
  font-family: "Be Vietnam Pro", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  border: 3px solid gray;
}

span {
  display: flex;
  width: 6.5rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-right: 1rem;
}

/* Typography */
body {
  font-size: 1.5rem;
}

p {
  line-height: 2.5rem;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  margin: 0;
}

@media screen and (min-width: 768px) {
  p {
  }
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 5rem;
  }

  p {
    line-height: 1.5;
  }
}

/* Collapsibles */
.collapsible {
  height: 10rem;
}

.collapsible__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  position: relative;
}

.collapsible__content--inline {
  display: none;
}

.collapsible__content--block {
  display: none;
}

.collapsible--expanded .header__hamburger {
  display: none;
}

.collapsible--expanded .header__close {
  display: block;
  cursor: pointer;
  width: 2rem;
}

.collapsible--expanded .collapsible__content--block {
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0 15rem 100rem 1rem hsla(0, 0%, 0%, 0.2);
  display: block;
  left: 5%;
  position: absolute;
  text-align: center;
  top: 120%;
  width: 90%;
}

@media screen and (min-width: 1440px) {
  .collapsible {
    display: flex;
    justify-content: center;
  }

  .collapsible__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    width: 100%;
  }

  .collapsible__content--inline {
    display: block;
  }

  .collapsible__content--block {
    display: none;
  }

  .collapsible--expanded .header__close {
    display: none;
  }

  .collapsible--expanded .collapsible__content--block {
    display: none;
  }
}

/* Header */
.header__logo {
  padding-top: 0.5rem;
  width: 10rem;
}

.header__btn {
  display: none;
}

.header__hamburger {
  display: block;
  cursor: pointer;
  width: 2rem;
}

.header__close {
  display: none;
}

@media screen and (min-width: 1440px) {
  .header__hamburger {
    display: none;
  }

  .header__btn {
    display: block;
  }
}

/* Main */
.main {
  border: 1px solid tomato;
  text-align: center;
  padding: var(--padding-sides);
}

.main__illustration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration {
  width: 30rem;
}

.btn {
  background: var(--color-primary);
  border-radius: 3rem;
  border: none;
  color: white;
  padding: 1.5rem 3rem;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem hsla(13, 100%, 65%, 0.5);
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 62.5%;
  }

  .main {
    display: flex;
    flex-direction: row-reverse;
    margin: var(--marging-vertical);
  }

  .main__content {
    align-items: start;
    border: 1px solid dodgerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0rem 2rem 0;
    text-align: left;
    width: 50%;
  }

  .main__illustration {
    border: 1px solid tomato;
    width: 80%;
  }

  .illustration {
    width: 100%;
  }

  .btn {
    background: var(--color-primary);
    border-radius: 3rem;
    border: none;
    color: white;
    padding: 1rem 3rem;
    cursor: pointer;
  }
}

/* Section 1 */
.section-1 {
  border: 1px solid dodgerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

.article-1 {
  margin-bottom: 3rem;
  padding: var(--padding-sides);
  text-align: center;
}

.article-2 {
  padding: 0 1rem;
  text-align: left;
}

@media screen and (min-width: 1440px) {
  .section-1 {
  }
}

.article-2 {
  padding: 0 1rem;
}

.section__article {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.section__header {
  display: flex;
  align-items: center;
  background-color: hsl(13, 100%, 96%);
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  width: 105%;
}

.testimonial {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border: 1px solid dodgerblue;
}

.article {
  border: 1px solid tomato;
}

.section-3 {
  padding: 3rem;
  border: 1px solid tomato;
  background-color: var(--color-primary);
  color: white;
  text-align: center;
}

.section-3__heading {
  font-size: 3.3rem;
}

.footer {
  padding: 3rem;
  border: 1px solid dodgerblue;
}

/* Links */
.list__item > a {
  text-decoration: none;
  color: #000;
  transition: color 1s;
}

.list__item > a:hover {
  color: #999;
}

/* List */
.list {
  padding: 0 2rem;
  list-style: none;
  margin: 4rem;
}

.list__item {
  margin: 2rem;
}

@media screen and (min-width: 1440px) {
  /* Typography */

  /* Lists */

  .list--inline .list__item {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin: 1rem;
  }

  /* Links */
  .list__item > a {
    text-decoration: none;
    color: #000;
    transition: color 0.5s;
  }

  .list__item > a:hover {
    color: #999;
  }
}
