:root {
  --font-color-primary: hsl(227, 12%, 61%);
  --padding-horizontal-primary: 0 1rem;
  --padding-horizontal-secondary: 0 10rem;
  --color-primary: #f3603c;
  --color-secondary: hsl(12, 88%, 59%);
  --margin-vertical-primary: 10rem 0;
  --margin-vertical-secondary: 10rem 0;
  --margin-horizontal-primary: 0 1rem;
  --footer-content-margin-secondary: 6rem 0;
}
/* Basic Styles */
html {
  font-size: 62.5%;
}

body {
  font-family: "Be Vietnam Pro", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.number {
  display: flex;
  width: 6rem;
  height: 3.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-right: 1rem;
}

/* Typography */
body {
  font-size: 1.5rem;
}

p {
  line-height: 2;
  color: var(--font-color-primary);
}

h1 {
  margin: 0;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.7rem;
}

@media screen and (min-width: 768px) {
  p {
    line-height: 1.5;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 5rem;
  }

  p {
    line-height: 1.5;
  }

  .number {
    width: 7rem;
    height: 4rem;
    margin-right: 3rem;
  }
}

/* Collapsibles */
.collapsible {
  height: 10rem;
}

.collapsible__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  position: relative;
}

.collapsible__content--inline {
  display: none;
}

.collapsible__content--block {
  display: none;
}

.collapsible--expanded .header__hamburger {
  display: none;
}

.collapsible--expanded .header__close {
  display: block;
  cursor: pointer;
  width: 2rem;
}

.collapsible--expanded .collapsible__content--block {
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0 15rem 100rem 1rem hsla(0, 0%, 0%, 0.2);
  display: block;
  left: 5%;
  position: absolute;
  text-align: center;
  top: 120%;
  width: 90%;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .collapsible {
    display: flex;
    justify-content: center;
  }

  .collapsible__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    width: 100%;
  }

  .collapsible__content--inline {
    display: inline-block;
  }

  .collapsible__content--block {
    display: none;
  }

  .collapsible--expanded .header__close {
    display: none;
  }

  .collapsible--expanded .collapsible__content--block {
    display: none;
  }
}

/* Links */

.list__item > a {
  text-decoration: none;
  color: #000;
  transition: color 1s;
}

.list__item > a:hover {
  color: #999;
}

/* List */
.list {
  list-style: none;
  padding-left: 0;
  margin: 4rem;
}

.list .list__item {
  padding-left: 0;
  margin: 3rem;
}

.list--inline .list__item {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  margin-right: 4rem;
}

@media screen and (min-width: 1024px) {
  /* Lists */
  .list {
    list-style: none;
    margin: 2rem;
    font-size: 1.8rem;
  }

  .list--inline .list__item {
    padding-left: 0;
    display: inline-block;
    margin-right: 4rem;
  }

  .list .list__item {
    padding-left: 0;
    margin: 0;
  }

  /* Links */
  .list__item > a {
    text-decoration: none;
    color: #000;
    transition: color 0.5s;
  }

  .list__item > a:hover {
    color: #999;
  }
}

/* Header */
.header__logo {
  padding-top: 0.5rem;
  width: 10rem;
}

.header__btn {
  display: none;
}

.header__hamburger {
  display: block;
  cursor: pointer;
  width: 2rem;
}

.header__close {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header__hamburger {
    display: none;
  }

  .header__btn {
    display: block;
  }
}

/* Main */
.main {
  text-align: center;
  padding: var(--padding-horizontal-primary);
  margin: var(--margin-vertical-primary);
  margin-top: 0;
}

.main__illustration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__content {
  margin: var(--margin-horizontal-primary);
}

.illustration {
  width: 30rem;
}

.btn {
  background: var(--color-secondary);
  border-radius: 3rem;
  border: none;
  box-shadow: 0 0.5rem 1rem hsla(13, 100%, 65%, 0.5);
  color: white;
  cursor: pointer;
  height: 5rem;
  padding: 0 3rem;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }

  .main {
    display: flex;
    flex-direction: row-reverse;
    margin: var(--margin-vertical-secondary);
  }

  .main__content {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 10rem 2rem 0;
    text-align: left;
    width: 60.8rem;
  }

  .main__illustration {
    width: 60.8rem;
  }

  .illustration {
    width: 100%;
  }

  .btn {
    background: var(--color-secondary);
    border-radius: 3rem;
    border: none;
    color: white;
    padding: 1rem 3rem;
    cursor: pointer;
    border: 1px solid white;
    height: 5rem;
    padding: 0 4rem;
  }

  .btn--margin {
    margin: 2rem 0;
  }
}

/* Section 1 */
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--margin-vertical-primary);
  padding: var(--padding-horizontal-primary);
}

.article-1 {
  margin: var(--margin-horizontal-primary);
  padding: var(--padding-horizontal-primary);
  text-align: center;
}

.article-1__heading {
  font-size: 2.8rem;
}

.article-2 {
  padding: 0 1rem;
  text-align: left;
}

.article-2__article {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.article-2__article__header {
  display: flex;
  align-items: center;
  background-color: hsl(13, 100%, 96%);
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  width: 110%;
}

.article-2__article__heading {
  font-size: 1.5rem;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .section-1 {
    align-items: start;
    flex-direction: row;
    margin: var(--margin-vertical-secondary);
    padding: var(--padding-horizontal-secondary);
  }

  .article-1 {
    text-align: left;
    padding: 0 10rem 0 0;
    width: 60.8rem;
  }

  .article-1__heading {
    font-size: 4rem;
  }

  .article-2 {
    width: 60.8rem;
    padding: 0;
  }

  .article-2__article__header {
    background-color: white;
  }

  .article-2__article__heading {
    font-size: 2rem;
  }

  .article-2__article__content {
    padding-left: 10rem;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--margin-vertical-primary);
}

.testimonial__article {
  display: inline-block;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  width: 100%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.testimony {
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 98%);
  padding: 5rem 1rem 2rem 0;
  margin: 3rem 0;
  position: relative;
}

.avatar {
  width: 6rem;
  position: absolute;
  top: -11%;
  left: 42%;
}

@media screen and (min-width: 1024px) {
  .testimonial {
    margin: var(--margin-vertical-secondary);
  }

  .avatar {
    width: 6rem;
    position: absolute;
    top: -11%;
    left: 47%;
  }
}

.section-3 {
  padding: 10rem 4rem;
  background-color: var(--color-primary);
  color: white;
  text-align: center;
  margin: var(--margin-vertical-primary);
  margin-bottom: 0;
}

.section-3__heading {
  font-size: 3.3rem;
}

.btn--white {
  background-color: white;
  color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .section-3 {
    align-items: center;
    display: flex;
    margin: var(--margin-vertical-secondary);
    margin-bottom: 0;
    justify-content: space-between;
    padding: var(--padding-horizontal-secondary);
  }

  .section-3__header {
    width: 60.8rem;
    text-align: left;
  }

  .section-3__heading {
    font-size: 5rem;
  }

  .btn--white {
    background-color: white;
    color: var(--color-primary);
  }
}

/* Footer */

.footer {
  padding: 3rem;
  background-color: #000;
  color: var(--font-color-primary);
  text-align: center;
}

.footer__group-1 {
  display: flex;
  justify-content: space-between;
}

input {
  height: 5rem;
  border-radius: 3rem;
  padding: 0 2rem;
  background-color: white;
  color: var(--font-color-primary);
}

.btn--footer {
  box-shadow: none;
}

.list__footer {
  column-count: 2;
  column-gap: 5rem;
  line-height: 2.5;
  margin: 2rem 0;
  font-size: 1.5rem;
  text-align: left;
  padding: 0 4rem;
}

.footer .list {
  margin: 0;
}

.footer .list__item {
  margin: 0;
  font-size: 1.2rem;
  padding: 0;
}

.footer .list__item > a {
  color: white;
}

.social-icons {
  display: flex;
  padding: 1rem 0;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.icon {
  font-size: 3rem;
  color: white;
}

.footer__logo {
  fill: white;
}

@media screen and (min-width: 1024px) {
  .footer {
    background-color: #000;
    color: var(--font-color-primary);
    display: grid;
    grid-template-columns: repeat(3, 33fr);
    padding: var(--padding-horizontal-secondary);
  }

  .group-all {
    display: flex;
    flex-direction: row-reverse;
    grid-column: 1 / 4;
    justify-content: space-between;
  }

  input {
    height: 5rem;
    border-radius: 3rem;
    padding: 0 2rem;
    background-color: white;
    color: var(--font-color-primary);
    margin-right: 1rem;
  }

  .footer__group-1 {
    display: flex;
    justify-content: space-between;
    margin: var(--footer-content-margin-secondary);
  }

  .footer__group-2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: var(--footer-content-margin-secondary);
  }

  .list__footer {
    column-count: 2;
    column-gap: 10rem;
    line-height: 2.5;
    text-align: left;
    margin: var(--footer-content-margin-secondary);
    font-size: inherit;
  }

  .social-icons {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .icon {
    padding: 0.5rem;
    font-size: 2rem;
  }

  .footer__logo {
    fill: white;
    margin-bottom: 6rem;
  }
}
